DB_HOST=localhost
DB_USER=admin
DB_PASSWORD=admin
DB_NAME=database
DB_PORT=5432

PORT = 4444

SECRET_KEY_JWT = "SECRET_JWT"

CLOUDINARY_CLOUDNAME = "CLOUDNAME"
CLOUDINARY_APIKEY = "APIKEY"
CLOUDINARY_APISECRET = "APISECRET"

DO_SPACES_ACCESS_KEY_ID = "ACCES_KEY"
DO_SPACES_SECRET_ACCESS_KEY = "SECRET_KEY"
DO_SPACES_REGION = "REGION"
DO_SPACES_BUCKET_NAME = "BUCKET_NAME"
DO_SPACES_ENDPOINT = "TARGET_ENDPOINT"